#footer{
    margin:  0 auto;
    text-align: center;
    
}


#otter{
    size: 10%;
}

h2{
    display: inline;
}

#userMain{
    padding-top:2%;
}



#bookImg { 
    width: 500px;
    height: 200px;
}



@media (min-width:480px)  { 
    
    #bookImg {
    max-width: 100%;
    height: auto;
}
  
     body{
       background-image: url("../img/1.jpg");
     
      
        
    }
    
}

@media (min-width:320px)  { 
     #bookImg {
      max-width: 100%;
      height: auto;
}


 body{
      background-image: url("../img/1.jpg");
        
          
    }




   
}


@media (min-width:1281px) {  
    
    #table{
    
    width:30%;
    margin: 0 auto;
}
    
    
}



@media (min-width:1281px) {  
    
  .form_div{
    
    width:30% ;/* pc, adjusting form size  */
 
     margin-left: 35%;
     
    
   
}

.form_div2{
    margin: 0 auto;
    width:30% ;/* pc, adjusting form size  */
 
     margin-left: 35%;
     
    
   
}


     body {
  
    
    font-size: 1.0em;
    
    background-color: red;
     background-image: url("../project.jpg");
}
     
    
   
    
    
    
}





#buttonContainer{
    
    text-align: center;
    
    margin: 0 auto;
}


#reportMain{
    
    
    margin: 0 auto;
    
    text-align: center;
    
}


#report{
    
    font-size: 2em;
}






#labelWidth{
    
    
    margin:0px;
   
  
    
}


