#footer{
    margin:  0 auto;
    text-align: center;
    
}




#otter{
    
    size: 10%;
    
}

h2{
    
    display: inline;
}

#userMain{
    
    padding-top:3%;
}


.navbar .navbar-expand-md{
    
    color:black;
}

