

header{
    text-align: center;
    color: orange;
    padding: 3px;
    font-size: 1.6em;
    font-family: times;
    
}

body{
    background-color: black;
    
}


nav {
    text-align: center;
    padding-top: 14px;
    
}

nav a {
    
    text-align: center;
    color: white;
    text-decoration: none;
    padding-right:  24px;
    padding-left:  24px;
    margin: 10px;
    
    font-family: 'Russo One', sans-serif;
    font-size: 1.9em;
    border: 7px solid #5a827f;
    

}

nav a:hover {
     border-color: #FF4136;
}


#btn1 {
    background-color: #000080;
}

#btn2 {
    background-color: #000080;
}

#btn3 {
    background-color: #000080;
    
}

#btn4 {
    background-color: #000080;
}


#image1{
    text-align: center;
    padding-top: 15px;
}

.text, article{
    
    color: white;
    font-size:1.8em;
    font-family: times;
    text-align: justify;
    padding-left:24%;
     padding-right:24%;
     line-height: 1.5;
    
}

div a{
    
    text-decoration: none;
}

figure{
    
    
    text-align: center;
}

footer {
    
    color: white;
    text-align: center;
}

article a{
    
    
    text-decoration: none;
}



